@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.toggle-menu{
    display: none;
    pointer-events: none;
}

main{
    padding: 2.5rem 4%;
}

section{
    margin: 8rem 0;
}

body{
    line-height: 1.1;
    background-color: #fcefd7;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ====HEADER==== */

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    transition: all ease .3s;
    padding: 25px 6%;
    background-color: #faf5dd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.nav-links{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.wrapper1{
    display: flex;
    gap: 2rem;
    justify-content: center;
}


.nav-links a,
.wrapper1 a{
    color: black;
}

.wrapper1 i{
   font-size: 16px;
   cursor: pointer;
}

.btn-header a{
    color: white;
}
.btn-header:hover a{
    color: black;
}


/* ====HERO SECTION==== */

.content {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.content .item {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all ease 1s;
}

.content .item img {
    width: 100%;
    height: 100svh;
    object-fit: cover;
}

.content .item:hover {
    width: 170%;
}

.content .item .text {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    color: #fff;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.534));
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all ease 0.5s 0.2s;
}

.content .item:hover .text {
    opacity: 1;
    bottom: 0;
}

.text a{
    color: #fff;
}

/* =====MAIN DESTAQUES===== */

.shop{
    margin-top: 2rem;
}

.card-produto img{
    width: 100%;
}

.destaques h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}


.shop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

/* .card-produto{
    position: relative;
} */


.card-produto img:hover{
    /* padding: 10px; */
    transform: translateY(-10px);
    border-radius: 25px;
    transition: all 0.3s ease;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.produt-titu,
.preco{
    text-align: center;
    margin-top: 15px;
}

.star{
    text-align: center;
    margin: 15px;
}

.btn-produt{
    padding: 5px 15%;
    background-color: black;
    color: white;
    transition: all .3s ease;
    cursor: pointer;
}

.btn-produt:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.produts-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* ======GRID GALERIA IMG====== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.image-container {
    position: relative; 
    overflow: hidden; 
    border-radius: 5px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.overlay a{
    color: #fff;
}

.image-container:hover .overlay {
    opacity: 1;
}

























/* ====DROPWDOWN MENU==== */
.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 175%;
    left: 0;
    background: #faf5dd;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.dropdown-menu li{
    padding: 8px 20px; 
}

.dropdown-menu li a{
    text-decoration: none;
    color: inherit; 
}


.dropdown:hover  .dropdown-menu{
    display: block;
}

#toggle-menu{
    display: none;
    cursor: pointer;
}

.nav-links{
    display: flex;
    flex-direction: row;
}

